<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>MRMgr :: {% block title %}My amazing site{% endblock %}</title>
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
<style type="text/css">
.rack {
    border: 2px solid black;
    padding: 5px;
    width: 40%
}
#machines {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 5px 10%;
}
#machines li {
    text-align: center;
}
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.7.2.custom.min.js"></script>
{% block head_extra %}{% endblock %}
</head>
<body>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
