{% extends "rackit_base.html" %}
{% block title %}Rack {{ rack }} detail{% endblock %}

{% block head_extra %}
<script type="text/javascript">
$(function() {
    $("#machines").sortable();
    $("#machines").find("li").each(function(i) {
       $(this).click(function() { $(this).effect("shake"); });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="rack">
<ul id="machines">
{% for m in machine_list %}
  <li class="ui-state-default" style="height: {{ m.u_space }}.5em">{{ m }} </li>
{% endfor %}
</ul>
</div>
{% endblock %}
